<% if @controller.action_name == "update"%>
	<h1>Updated Event</h1>
<% else %>
	<h1>Added Event</h1>
<% end %>
<p>You are helping other dancers find new locations to dance. The more events we get the more we spread the love of salsa dancing.</p>