<% if @controller.action_name == "update"%>
	<h1>Updated Venue</h1>
<% else %>
	<h1>Added Venue</h1>
<% end %>
<p>You are helping other dancers find new locations to dance. The more venues we get the more we spread the love of salsa dancing.</p>